body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

  box-sizing: border-box;
  padding: 0;
}

hr {
  background-color: #ff4c68;
  border: dotted #fff 6px;
  border-bottom: none;
  width: 40%;
  margin: 40px auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-item a {
  color: #fff !important;
  font-size: 1.2rem;
}

.carousel-item {
  padding: 5% 7%;
}

.carousel-item {
  padding: 7% 10%;
}
.table {
  padding: 30px;
}
#pricing {
  padding: 10px 20px;
}

#pricing h1 {
  margin: 20px;
  color: #fff;
}

h3 {
  color: #fff;
  font-weight: 500;
}

h3 span {
  color: aquamarine;
}

.home {
  text-align: center;
  background-color: #ff4c68;
}

#footer {
  background-color: #fff;
  padding: 7% 15%;
  text-align: center;
}

#footer a {
  text-decoration: none;
  color: inherit;
}

i {
  margin: 10px 10px;
}

i:hover,
i:active {
  color: #ff4c68;
}

#contact p {
  font-size: 1.4rem;
  color: #fff;
}

.home-error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2rem;
}
